<footer>
    <ul class="menu flex">
        <li><a href="" title="">Hỗ trợ</a></li>
        <li><a href="" title="">Cài Đặt</a></li>
        <li><a href="" title="">Điều Khoản</a></li>
    </ul>
    <div class="hotline">Hotline: <a href="tel:1900 636 452">1900 636 452</a></div>
    <div class="email">Email: <a href="mailto:hotro@tuongky.vn">hotro@tuongky.vn</a></div>
    <div class="text">
        <p>Thời gian: 8:00 - 22:00 tất cả các ngày (GMT+7)</p>
        <p>Chơi quá 180 phút một ngày sẽ ảnh hưởng xấu đến sức khỏe</p>
        <p>Quyết định phê duyệt nội dung kịch bản trò chơi điện tử G1 trên mạng số: 783/QĐ-BTTTT ngày 08/05/2021</p>
        <p>Chịu trách nhiệm nội dung: Ông Nguyễn Văn A</p>
        <p>Golden Land Tower  275 Nguyen Trai  Thanh Xuan Dist., Ha Noi</p>
    </div>
</footer>