<header>
    <nav class="navbar">
        <div class="navbar-collapse flex-center">
            <ul class="navbar-nav">
                <li><a href="" title="trang chủ"><i class="icon icon-home"></i></a></li>
                <li><a href="" title="trang chủ" class="active">Tin Mới</a></li>
                <li><a href="" title="trang chủ">Sự Kiện</a></li>
                <li><a href="" title="trang chủ">Hướng Dẫn</a></li>
                <li><a href="" title="trang chủ">Fanpage</a></li>
            </ul>
            <a href="" title="Nạp thẻ" class="btn-napthe flex-center">Nạp thẻ</a>
            <form action="" method="" class="form-search pr">
                <input type="text" name="" placeholder="Tìm kiếm">
                <button type="button" class="btn-submit"></button>
            </form>
        </div>
    </nav>
    <h1><a href="" title="" class="logo"><img src="./assets/img/logo.png" alt=""></a></h1>
    <div class="download flex">
        <div class="download__qrcode"><img src="./assets/img/qrcode.jpg" alt=""></div>
        <div class="download__store">
            <h5>Tải game app</h5>
            <a href="" title="" class="android">google play</a>
            <a href="" title="" class="ios">app store</a>
        </div>
    </div>
</header>