<main>
    <div class="box-img">
        <img src="./assets/img/popup1.png" alt="">
    </div>
    <form action="" class="form_register">
        <div class="form-group">
            <label>họ và tên:</label>
            <input type="text" name="" placeholder="" required>
        </div>
        <div class="form-group">
            <label>số điện thoại:</label>
            <input type="number" name="" placeholder="" required>
        </div>
        <div class="form-group">
            <label>email:</label>
            <input type="email" name="" placeholder="" required>
        </div>
        <div class="form-group">
            <label>địa chỉ:</label>
            <input type="text" name="" placeholder="">
        </div>
        <button type="submit" class="btn_submit">Đăng ký nhận ưu đãi ngay</button>
    </form>
</main>