
body{
  width: 100%;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.4;
  overflow-x: hidden;
  &.home{background: #feac1a url("#{$img-path}/bg-website.jpg") no-repeat center center/cover;}
  &.landing{min-height: vw(1080px); background: #feac1a url("#{$img-path}/bg-landing.jpg") no-repeat center center/cover;}
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

@font-face {
  font-family: UTMCopperplate;
  src: url("#{$font-path}/UTMCopperplate.ttf");
}

body.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}
a:hover{text-decoration: none;}
a{transition: .26s;}
img{max-width: 100%;}
%hover{-webkit-filter: saturate(1.6); filter: saturate(1.6);}

//main
.box-img{display: none;}
.form_register{
  width: vw(550px);
  padding: vw(40px) vw(40px) vw(5px);
  background: #fff;
  border-radius: vw(20px) vw(20px) 0 0;
  position: absolute; top: vw(160px); left: vw(1252px);
  .form-group{margin-bottom: vw(38px);}
  label{
    display: block;
    margin-bottom: vw(8px);
    font: vw(24px) UTMCopperplate, sans-serif;
    text-transform: uppercase;
    color: #202b5a;
  }
  input{
    height: vw(70px);
    width: 100%;
    padding: 0 vw(20px);
    background: #b80000;
    border: vw(3px) solid #ff9f12;
    border-radius: vw(20px) vw(20px) 0 0;
    color: #fff;
    font-size: vw(24px);
    &:focus{outline: none;}
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .btn_submit{
    width: vw(550px); height: vw(86px);
    background: url("#{$img-path}/btn-dk.png") no-repeat 0 0/contain;
    font-size: 0;
    position: absolute; left: 0; bottom: vw(-105px); transition: .25s;
    &:hover{@extend %hover;}
  }
}
.link_landing{
  width: vw(1210px); display: block;
  margin: vw(-40px) auto 0;
}
.modal-img{
  .modal-dialog{max-width: vw(1210px); margin: vw(-42px) auto 0;}
  .modal-content{background: none; border: none;}
}
.modal{
  &::-webkit-scrollbar{width: 0;}
}




//modal



//footer


//uikt
.pr{position: relative;}
.icon{display: block;}
button{
  border: none;
  cursor: pointer;
  &:focus{outline: none;}
}



@media (max-width: 1025px){
  body{
    &.home{background: #feac1a url("#{$img-path}/bg-web-m.jpg") no-repeat center center/cover;}
    &.landing{padding-bottom: vwt(125px); background: #feac1a url("#{$img-path}/bg-web-m.jpg") no-repeat center center/cover;}
  }
  main{min-height: 100vh;}
  .link_landing{
    width: vwt(1210px);
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
  }
  .box-img{display: block; width: vwt(1000px); margin: vwt(30px) auto 0;}
  .form_register{
    width: vwt(550px); margin: vwt(20px) auto 0;
    padding: vwt(30px) vwt(30px) vwt(5px);
    border-radius: vwt(20px) vwt(20px) 0 0;
    position: relative; left: 0; top: 0;
    .form-group{margin-bottom: vwt(38px);}
    label{
      margin-bottom: vwt(8px);
      font: vwt(24px) UTMCopperplate, sans-serif;
    }
    input{
      height: vwt(70px);
      padding: 0 vwt(20px);
      border: vwt(3px) solid #ff9f12;
      border-radius: vwt(20px) vwt(20px) 0 0;
      font-size: vwt(24px);
    }
    .btn_submit{width: vwt(550px); height: vwt(86px); bottom: vwt(-105px);}
  }
  .modal-img{
    .modal-dialog{max-width: vwt(1210px); margin: vwt(-42px) auto 0;}
  }
}
@media (max-width: 768px){
 /* .box-img{display: block; width: vwm(1000px); margin: vwm(30px) auto 0;}*/
  .form_register{
    width: vwm(550px); margin: vwm(20px) auto;
    padding: vwm(30px) vwm(30px) vwm(5px);
    border-radius: vwm(20px) vwm(20px) 0 0;
    .form-group{margin-bottom: vwm(38px);}
    label{
      margin-bottom: vwm(8px);
      font-size: vwm(24px);
    }
    input{
      height: vwm(70px);
      padding: 0 vwm(20px);
      border: vwm(3px) solid #ff9f12;
      border-radius: vwm(20px) vwm(20px) 0 0;
      font-size: vwm(24px);
    }
    .btn_submit{width: vwm(550px); height: vwm(86px); bottom: vwm(-105px);}
  }
  .modal-img{
    .modal-dialog{max-width: vwm(1210px); margin: vwm(-42px) auto 0;}
  }
}
@media (orientation: landscape) and (max-width: 1024px) {
  /*main{min-height: vwt(1100px);}*/
}
